@import '~breakpoint-sass';
@import 'reset';
@import 'mixins';
@import 'browsers/ie';
@import 'browsers/safari';
@import 'browsers/firefox';


body {
	margin:0;
	color: $black;
	min-height: 100vh;
	overflow-x:hidden;
}
.is-mobile-true {
	.desktop {
		display:none;
	}
	.mobile {
		display:flex;
	}
}
.is-mobile-false {
	.mobile {
		display:none;
	}
	.desktop {
		display:flex;
	}
}

.outerContainer {
	padding: $desktop_padding;
	position: relative;
	@include breakpoint($small-under) {
		padding: $mobile_padding;
	}
}
.container {
	@include container($large);
}
.mediumLargeContainer {
	@include container($medium);
}
.mediumContainer {
	@include container($medium);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#homepage{
	text-align: center;
	h1 {
		font-size: 24px;
		color: #28aadc;
		margin-top: 100px;
	}
	form {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    margin: 50px 0;
	}

	input[type="zip"] {
	    height: 31px;
	    border: 1px solid #cfcfcf;
	    font-family: sans-serif;
	    font-size: 18px;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    text-align: center;
	    margin: 2%;
	}

	input[type="submit"] {
		    padding: .5rem 2rem;
	    color: #28aadc;
	    background-color: #fff;
	    font-size: 1.2rem;
	    font-weight: 300;
	    text-transform: uppercase;
	    border-radius: 12rem;
	    border: .2rem solid #28aadc;
	    -webkit-transition: color .3s,border .3s;
	    transition: color .3s,border .3s;
	}
	.cityName {
		font-size: 20px;
		margin-bottom: 40px;
	}
}





